.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 60vw;
}

p {
    font-size: large;
}

.platform-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: #0B4F6C;
    font-weight: 500;
}

.platform-list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platform-logo {
    height: 48px;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}