.card-container {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent);
    max-height: 400px;
    width: auto;
    position: relative;
}

img {
    height: auto;
    width: auto;
    background-color: var(--accent);
}

label {
    margin-right: auto;
    z-index: 1;
    background-color: var(--accent);
    color: var(--primary-text);
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}