.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    border-bottom: solid 1px lightgray;
}

.header {
    display: flex;
    /* background-color: black; */
    border-radius: 0 0 60px 0;
}

a {
    position: relative;
    background-color: transparent;
    color: var(--primary-text);
    width: 100%;
}

li:hover {
    color: var(--accent);
}

.active { 
    color: var(--accent);
    text-decoration: underline;
}

.inactive { 
    color: var(--secondary-text);
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: filter;
    transition: filter 300ms;
    margin-right: 2em;
}

.header-profile-photo {
    width: 24px;
    height: auto;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
}